plots/
venv/
.pytest_cache/
.mypy_cache/
.idea/
.vscode/

*.html

# Symlink
.idea

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Sphinx documentation
docs/_build/

# Code coverage and tests
.coverage
coverage.xml
/report.xml
